<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Flurl" version="1.0.10" targetFramework="net45" />
  <package id="Flurl.Http" version="0.7.0" targetFramework="net45" />
  <package id="MSTestExtensions" version="4.0.0" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="8.0.3" targetFramework="net45" />
  <package id="NLog" version="4.2.3" targetFramework="net45" />
  <package id="NLog.Config" version="4.2.3" targetFramework="net45" />
  <package id="NLog.Schema" version="4.2.3" targetFramework="net45" />
  <package id="NLog.Targets.Syslog" version="2.1.5893.18660" targetFramework="net45" />
</packages>